<nav class="bg-violet-900 shadow-lg fixed top-0 left-0 z-40 w-screen">
  <div class="w-full px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <!-- Logo Bukulapak -->
      <div class="flex-shrink-0">
        <h1 class="manrope text-2xl font-bold text-white">Bukulapak</h1>
      </div>
      
      <!-- Navigasi tengah -->
      <div class="hidden md:flex justify-center flex-grow ml-20">
        <nav class="manrope nav-links flex space-x-4">
          <a href="{% url 'main:show_main' %}" class="text-white text-lg hover:bg-blue-950 px-3 py-2 rounded-md transition duration-300 hover:scale-110">Home</a>
          <a href="#" class="text-white text-lg hover:bg-blue-950 px-3 py-2 rounded-md transition duration-300 hover:scale-105">Products</a>
          <a href="#" class="text-white text-lg hover:bg-blue-950 px-3 py-2 rounded-md transition duration-300 hover:scale-105">Categories</a>
          <a href="#" class="text-white text-lg hover:bg-blue-950 px-3 py-2 rounded-md transition duration-300 hover:scale-105">Cart</a>
        </nav>
      </div>

      <!-- User info dan logout -->
      <div class="hidden md:flex items-center">
        {% if user.is_authenticated %}
          <div class="flex items-center gap-2">
            <i class="fas fa-user text-white"></i>
            <span class="manrope text-white mr-4 text-lg">{{ user.username }}</span>
          </div>
          <a href="{% url 'main:logout' %}" class="manrope bg-blue-600 hover:bg-blue-950 hover:opacity-80 text-white font-bold py-2 px-4 rounded-full transition duration-300 hover:scale-105">
            <i class="fas fa-sign-out-alt mr-2"></i>
            Logout
          </a>
        {% else %}
          <a href="{% url 'main:login' %}" class="text-center bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded transition duration-300 mr-2">
            Login
          </a>
          <a href="{% url 'main:register' %}" class="text-center bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded transition duration-300">
            Register
          </a>
        {% endif %}
      </div>
      <div class="md:hidden flex items-center">
        <button class="mobile-menu-button">
          <svg class="w-6 h-6 text-white" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
            <path d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <!-- Mobile menu -->
  <div class="manrope mobile-menu hidden md:hidden px-4 w-full md:max-w-full">
    <div class="pt-2 pb-3 space-y-1 mx-auto">
      <a href="{% url 'main:show_main' %}" class="block text-white text-lg hover:bg-blue-950 px-3 py-2 rounded-md transition duration-300">Home</a>
      <a href="#" class="block text-white text-lg hover:bg-blue-950 px-3 py-2 rounded-md transition duration-300">Products</a>
      <a href="#" class="block text-white text-lg hover:bg-blue-950 px-3 py-2 rounded-md transition duration-300">Categories</a>
      <a href="#" class="block text-white text-lg hover:bg-blue-950 px-3 py-2 rounded-md transition duration-300">Cart</a>
      {% if user.is_authenticated %}
        <div class="flex items-center gap-2 px-3 py-2">
          <i class="fas fa-user text-white"></i>
          <span class="text-white text-base font-medium">{{ user.username }}</span>
        </div>
        <a href="{% url 'main:logout' %}" class="block text-center bg-blue-600 hover:bg-blue-950 hover:opacity-80 text-white font-bold py-2 px-4 rounded transition duration-300">
          Logout
        </a>
      {% else %}
        <a href="{% url 'main:login' %}" class="block text-center bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded transition duration-300 mb-2">
          Login
        </a>
        <a href="{% url 'main:register' %}" class="block text-center bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded transition duration-300">
          Register
        </a>
      {% endif %}
    </div>
  </div>

  <script>
    const btn = document.querySelector("button.mobile-menu-button");
    const menu = document.querySelector(".mobile-menu");

    btn.addEventListener("click", () => {
      menu.classList.toggle("hidden");
    });
  </script>
</nav>