<div class="manrope relative break-inside-avoid">
  <div class="relative top-5 bg-gradient-to-r from-purple-300 via-indigo-400 to-violet-700 shadow-lg rounded-lg mb-6 break-inside-avoid flex flex-col border-2 border-indigo-300 transform hover:scale-105 transition-transform duration-300">
    <div class="bg-gradient-to-r from-purple-400 to-violet-800 text-black p-4 rounded-t-lg border-b-2 border-indigo-300">
      <h3 class="font-bold text-xl mb-2">{{book_entry.name}}</h3>
      <p class="text-black">Rp. {{book_entry.price}}</p>
    </div>
    <div class="p-4">
      <p class="font-semibold text-lg mb-2">Description</p>
      <p class="text-black">{{book_entry.description}}</p> 
      <div class="mt-4">
        <p class="text-black font-semibold mb-2">Stock</p>
        <div class="relative pt-1">
          <div class="flex mb-2 items-center justify-between">
            <div>
              <span class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-indigo-600 bg-indigo-200">
                {{book_entry.quantity}}
              </span>
            </div>
          </div>
          <div class="overflow-hidden h-2 mb-4 text-xs flex rounded bg-indigo-200">
            <div style="width:{% if book_entry.quantity > 10 %}100%{% else %}{{ book_entry.quantity }}0%{% endif %}" class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-indigo-500"></div>
          </div>
        </div>
      </div>
      <div class="flex justify-center space-x-4 mt-4">
        <a href="{% url 'main:edit_book' book_entry.pk %}" class="bg-yellow-500 hover:bg-yellow-600 text-white font-bold py-2 px-4 rounded-full transition duration-300 shadow-md">
          <i class="fas fa-edit"></i> Edit
        </a>
        <a href="{% url 'main:delete_book' book_entry.pk %}" class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded-full transition duration-300 shadow-md">
          <i class="fas fa-trash-alt"></i> Delete
        </a>
      </div>
    </div>
  </div>
</div>
