{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>{{ nama_aplikasi }}</title>
{% endblock meta %}

{% block content %}
<div class="container">
    <h1>Welcome to {{ nama_aplikasi }}!</h1>
    <p>Sumber buku nomor 1 di pacil!</p>
</div>

<a href="{% url 'main:create_book_entry' %}" class="button-container">
    <button class="add-button">+ Add New Book</button>
</a>

{% if not books %}
<p>Belum ada data buku pada Bukulapak.</p>
{% else %}
<div class="books-container">
  {% for book in books %}
  <div class="product-details">
    <h2>{{ book.name }}</h2>
    <p><strong>Price:</strong> Rp {{ book.price }}</p>
    <p><strong>Description:</strong> {{ book.description }}</p>
    <p><strong>Stock:</strong> {{ book.quantity }}</p>
  </div>
  {% endfor %}
</div>
{% endif %}

<br />

<div class="footer">
    <p>Created by {{ person }} - {{ npm }} - {{ class }}</p>
</div>
{% endblock content %}
